<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AcolheAPI"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.acolhe.app.VideoActivity"
            android:exported="false" />
        <activity
            android:name="com.acolhe.app.HistoricoHumorActivity"
            android:exported="false" />
        <activity
            android:name="com.acolhe.app.SemInternet"
            android:exported="false" />
        <activity
            android:name="com.acolhe.app.HumorDiario"
            android:exported="false" />
        <activity
            android:name="com.acolhe.app.MeditacaoMusicaActivity"
            android:exported="false" />
        <activity
            android:name="com.acolhe.app.PaginaAcolhePlus"
            android:exported="false" />
        <activity
            android:name="com.acolhe.app.MeditacaoHome"
            android:exported="false" />
        <activity
            android:name="com.acolhe.app.ClinicasActivity"
            android:exported="false" />
        <activity
            android:name="com.acolhe.app.PaginaProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.acolhe.app.PaginaEditarUser"
            android:exported="false" />
        <activity
            android:name="com.acolhe.app.PaginaCadastroActivity"
            android:exported="false" />
        <activity
            android:name="com.acolhe.app.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.acolhe.app.PlaylistActivity"
            android:exported="false" />
        <activity
            android:name="com.acolhe.app.PaginaInicialActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>